.header {
  background: $black;
  padding: 13px 0 20px;
  position: relative;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-family: $rob;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__list {
    display: flex;
    column-gap: 35px;
    &-item {
      font-family: $rob;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $milk;
      position: relative;
      cursor: pointer;
      &::before{
        content: '';
        width: 0;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: -10px;
        left: -15px;
        transition: .5s;
      }
      &:hover::before {
        width: calc(100% + 30px);
      }
      &:a {
        color: #fff;
      }
    }
  }

  &__contact {
    display: flex;
    align-items: center;
    column-gap: 13px;
    &-num {
      font-family: $rob;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      background: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%), #DCD7C0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

    }
  }
}

.burger__menu {
  display: none;
}

@media (max-width: 768px) {
  .burger__menu {
    display: block;
    position: relative;
    z-index: 12;
    width: 30px;
    height: 30px;
    &-line {
      width: 28px;
      height: 3px;
      border-radius: 2px;
      background: $milk;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      transition: .3s;
      &::before {
        content: '';
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background: $milk;
        position: absolute;
        top: -9px;
        left: -1px;
        transition: .3s;
      }
      &::after {
        content: '';
        width: 30px;
        height: 3px;
        border-radius: 2px;
        background: $milk;
        position: absolute;
        top: 9px;
        left: -1px;
        transition: .3s;
      }
    }
    &-active {
      position: fixed;
      top: 20px;
      right: 20px;
      .burger__menu-line {
        width: 0;
        transition: .3s;
        &::before {
          top: 0;
          transform: rotate(45deg);
          transition: .3s;
        }
        &::after {
          top: 0;
          transform: rotate(-45deg);
          transition: .3s;
        }
      }
    }
  }
  .header__list {
    display: none;
    &-active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 35px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
      background: $black;
    }
    &-item {
      font-size: 22px;
    }
  }
}
@media (max-width: 576px) {
  .header__contact-num {
    font-size: 14px;}
  .header__icon {
    height: 14px;
  }
  .header__contact {
    column-gap: 5px;
  }
}

@media (max-width: 375px) {
  .header__title {
    font-size: 14px;
    line-height: 18px;
  }
}